<!DOCTYPE html>
<html>

<head>
	<title></title>
</head>

<body>
	<h4>Notifications</h4>
	<p>
		------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	</p>
	<% @notification.each do |n| %>
	<%= n.notification_message %>
	<p>
		------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
	</p><br>
	<% end %>


</body>

</html>