<h3>Interested Users</h3>
<h4>Total Interested Users: <%= @interested_users.count %> </h4>
<table>
	<tr>
		<th>userid</th>
		<th>username</th>
		<th>email</th>
	</tr>
	<% @interested_users.each do |u| %>
		
		<p>
			<tr>
				<td><%= u.id %></td>
				<td><%= u.username %></td>
				<td><%= u.email %></td>
			</tr>
		</p>
	
	<% end %>
</table>